.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.904);
    padding: 20px 0px;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
    transition: all .15s;
}

.navbar a:hover {
    color: rgb(238, 241, 30);
    transition: all .3s;
}